# ENVIRONMENT
NODE_ENV= # Define o ambiente de execução, como 'development' ou 'production'

# PORT
STATIC_PORT= # Porta usada para o servidor de arquivos estáticos (exemplo: 8081)

# SERVER_URL
SERVER_URL= # URL base do servidor no ambiente de desenvolvimento ou produção

# FULL URL
URL= # URL completa para acessar o servidor (exemplo: http://localhost:8081)

# API_KEY
API_KEY= # Chave da API para autenticação em serviços externos

# CLOUDINARY  
CLOUDINARY_CLOUD_NAME= # Nome do cloud associado à conta Cloudinary
CLOUDINARY_API_KEY= # Chave de API usada para autenticação com os serviços do Cloudinary
CLOUDINARY_API_SECRET= # Segredo da API usado para operações seguras no Cloudinary
