/node_modules
# Ignorar todos os arquivos .env
.env*

# Ignorar todos os arquivos .http
*.http

# Ignorar o arquivo example.http especificamente
example.http

# Ignorar o arquivo db.json especificamente
db.json

# Exceto o .env.example
!.env.example

